html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin : 0;
  padding : 0;
}

a { color : #fff; }
a:hover { color : #eee; }

div#fishcotheque {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}

canvas.full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.creature {
  position: absolute;
}

div.creature,
div.creature img,
div.creature svg,
div.creature canvas {
  /* hardware accelration hinting */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -khtml-transform: translateZ(0);
}

/* Info panel */
#info {
  color : #fff;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  opacity: 0.5;
  position: absolute;
  right : 20px;
  text-align: right;
  top: 20px;
  z-index:9999;
}

#info h1 {
  font-size : 15pt;
  margin: 0 0 3px 0;
}

#info p {
  font-size : 10pt;
}

#info li {
  display: inline-block;
  font-size : 10pt;
  list-style: none;
  margin: 0 0 3px 0;
  padding: 0;
}

@media (max-device-width: 600px) {
  #info h1 {
    font-size : 30pt;
  }

  #info p {
    font-size : 20pt;
  }

  #info li {
    font-size : 20pt;
  }
}
