html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin : 0;
  padding : 0;
}

a { color : #fff; }

h2 {
  right : 20px;
  color : #fff;
  position: absolute;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  z-index:9999;
  opacity: 0.5;
}

#async {
  font-size : 15pt;
}

#digi {
	top : 30px;
	font-size : 10pt;
}

div#fishcotheque {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}

canvas.full {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.creature {
  position: absolute;
}

div.creature,
div.creature img,
div.creature svg,
div.creature canvas {
  /* hardware accelration hinting */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -khtml-transform: translateZ(0);
}
