.creature--sea-bed {
    height: 100px;
    background: url(sand.png) rgb(238, 223, 195);
    background-size: 96px 96px;
}

@media (max-device-width: 600px) {
    .creature--sea-bed {
        height: 200px;
    }
}
